/* Estilos para el hero */
.hero {
   /* background: linear-gradient(#218ECE, #906CE0); /* Cambio en la dirección del degradado */
   background: #218ece;
    color: #fff;
    text-align: left;
    padding: 165px 0 20px;
}

.hero-title {
    font-family: 'Fredoka One', sans-serif;
    font-size: 48px; /* Tamaño de texto del título aumentado */
}

.hero-description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

/* Estilo para el botón */
.btn-primary {
    background-color: #E36397;
    border: none;
    color: #fff;
}

.btn-primary {
    font-family: 'Fredoka One', sans-serif;
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #e36397; /* Rosado */
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .btn:hover {
    background-color: #218ece;
  }

/* Estilos para la imagen */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Estilo para el texto que cambia */
#changingText {
    color: #e36397;
    animation: changeText 3s linear infinite;
}

@keyframes changeText {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


/* Agrega estas reglas CSS al final de tu archivo CSS actual */

/* Estilo para la imagen del héroe */
.hero img {
    width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    animation: heroAnimation 5s linear infinite; /* 5s es la duración de la animación */
}

/* Animación de movimiento suave */
@keyframes heroAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); /* Controla la cantidad y dirección del movimiento */
    }
    100% {
        transform: translateX(0);
    }
}
